.idea
.DS_Store
/vendor/
/current_SHA
/last_build.json

# Don't push reports to repo #
/coverage/
/www/coverage/

# App Cache #
/cache/*
!/cache/.placeholder

# Don't push the local config #
/etc/config.json

# Unit Testing #
/app-coverage
/phpunit.xml
/testconfigs
