.idea
.DS_Store
/vendor/
/last_build.json

# Don't push reports to repo #
/coverage/
/www/coverage/

# App Cache #
/cache/*
!/cache/.placeholder

# App Logs #
/logs/*
!/logs/.placeholder

# Don't push the local config #
/etc/config.json

# Unit Testing #
/app-coverage
/phpunit.xml
/testconfigs

# Node modules should be local
node_modules/

# DebugBar assets
/www/media/css/debugbar.css
/www/media/js/debugbar.js
