includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  level: 5
  phpVersion: 80300
  paths:
    - bin
    - www
    - src
  ignoreErrors:
  reportUnmatchedIgnoredErrors: false
  bootstrapFiles:
    - phpstan_constants.php
