.team {
  .contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .contributor {
      flex-basis: calc(50% - 1vw);
      margin-bottom: 1.25rem;
      @include media-breakpoint-up(sm) {
        flex-basis: calc(33.333333333334% - 1vw);
      }
      @include media-breakpoint-up(md) {
        flex-basis: calc(25% - 1vw);
      }
      @include media-breakpoint-up(lg) {
        flex-basis: calc(20% - 1vw);
      }
      @include media-breakpoint-up(xl) {
        flex-basis: calc(16.666666666667% - 1vw);
      }
    }
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.25rem;
      @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
      .contributor {
        margin-bottom: 0;
      }
    }
  }
  .marketers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .marketer {
      flex-basis: calc(50% - 1.5vw);
      @include media-breakpoint-up(md) {
        flex-basis: calc(25% - 1.5vw);
      }
      @include media-breakpoint-up(lg) {
        flex-basis: calc(25% - 1.75vw);
      }
      @include media-breakpoint-up(xl) {
        flex-basis: calc(25% - 2.5vw);
      }
    }
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.25rem;
      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @include media-breakpoint-up(lg) {
        grid-gap: 1.75rem;
      }
      @include media-breakpoint-up(xl) {
        grid-gap: 2.5rem;
      }
    }
  }
  .contributors,
  .marketers {
    .card {
      .card-img-top {
        height: 100%;
        @supports (display: flex) {
          height: inherit;
        }
        @supports (display: grid) {
          height: inherit;
        }
      }
    }
  }
}
