/* latin-ext */
@import "@fontsource/source-sans-pro/latin-ext-400.css";
/* latin */
@import "@fontsource/source-sans-pro/latin-400.css";
/* latin-ext */
@import "@fontsource/source-sans-pro/latin-ext-600.css";
/* latin */
@import "@fontsource/source-sans-pro/latin-600.css";
