nav.homepage {
  ul {
    li {
      margin-left: 5%;
      @include media-breakpoint-up(xl) {
        margin-left: 6%;
      }
      &:first-child {
        margin-left: 0;
      }
      span {
        vertical-align: top;
        &.title {
          display: none;
          @include media-breakpoint-up(md) {
            display: inline;
          }
        }
      }
    }
  }
}

.go {
  background: url(../../images/j-framework-500.png) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: .625rem;
  font-size: 1.75rem;
  color: #ffffff;
  @include media-breakpoint-up(md) {
    background-image: url(../../images/j-framework-767.png);
  }
  @include media-breakpoint-up(lg) {
    background-image: url(../../images/j-framework-1200.png);
    font-size: 2rem;
  }
  @include media-breakpoint-down(lg) {
    margin: 0 -.625rem;
  }
  @include media-breakpoint-up(xl) {
    background-image: url(../../images/j-framework-full.png);
    font-size: 2.125rem;
  }
  h1 {
    font-size: 2.5rem;
    margin: 0;
    @include media-breakpoint-up(sm) {
      font-size: 3.25rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 4.25rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 5.5rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 6.5rem;
    }
  }
  h2 {
    font-size: 2.25rem;
    font-weight: $font-weight-bold;
    color: $go-h2;
    @include media-breakpoint-up(sm) {
      font-size: 2.75rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 5rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 5.5rem;
    }
  }
  .cta {
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      max-width: 85%;
    }
    @include media-breakpoint-up(lg) {
      max-width: 80%;
    }
    @include media-breakpoint-up(xl) {
      max-width: 75%;
    }
    .btn {
      width: 100%;
      margin: 1.25rem 0;
      @include media-breakpoint-up(sm) {
        width: 40%;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }
  }
  .fa {
    color: $white;
  }
}

main {
  .marker {
    color: $marker-color;
    font-size: 6.25rem;
    display: block;
    text-align: center;
  }

  hr#about {
    border: 0;
  }

  .get-involved {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .involved-cta {
      flex-basis: calc(100% - 1vw);
      margin-bottom: 1.25rem;
      @include media-breakpoint-up(sm) {
        flex-basis: calc(50% - 1vw);
      }
      @include media-breakpoint-up(xl) {
        flex-basis: calc(25% - 1vw);
      }
    }
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.25rem;
      @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
      }
      @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .involved-cta {
        margin-bottom: 0;
      }
    }
  }

  .structure {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}

footer {
  .homepage-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .footer-area {
      &.resources {
        flex-basis: calc(50% - 1vw);
      }
      &.subscribe {
        flex-basis: calc(50% - 1vw);
      }
      &.case-studies {
        flex-basis: calc(100% - 1vw);
      }
      &.copyright {
        flex-basis: calc(100% - 1vw);
      }
    }
  }
  @supports (display: grid) {
    .homepage-footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a b" "c c" "d d";
      grid-gap: 1.25rem;
      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b" "a c" "d d";
      }
    }
    .footer-area {
      &.resources {
        grid-area: a;
      }
      &.subscribe {
        grid-area: b;
      }
      &.case-studies {
        grid-area: c;
      }
      &.copyright {
        grid-area: d;
      }
    }
  }
}
