{% extends "index.twig" %}

{% block title %}Joomla! Framework Team{% endblock %}

{% block metaDescription %}View a list of contributors to the Joomla! Framework.{% endblock %}

{% block content %}
<section class="team container">
    <h1>Who is the team behind the Joomla! Framework?</h1>

    <p>Andrew Eddie, Ian MacLennan, Michael Babker, David Hurley, Rouven Wessling and Don Gilbert. In addition to the “core maintainers”, we have a large community of developers that contribute to the project on an ongoing basis. Over 110 developers have contributed code, tests and documentation to the project.</p>

    <p>List of people who have made contributions to the Framework during development of 1.0, in alphabetical order:</p>

    <h2>Developers</h2>
    <hr/>
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Andrew Eddie" src="https://1.gravatar.com/avatar/a641363e668babd6b0b13ea8f3922c7a?d=https%3A%2F%2Fidenticons.github.com%2F4fd8957d7f8f021e038881fc3488247c.png&r=x&s=300"/>
                <div class="caption"><h4>Andrew Eddie</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Chad Windnagle" src="https://0.gravatar.com/avatar/8e803d030c6306d9692a02250e8817ed?d=https%3A%2F%2Fidenticons.github.com%2F6317c137b2f1d82ee63fe1be8dc2b206.png&r=x&s=300"/>
                <div class="caption"><h4>Chad Windnagle</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Daniele Rosario" src="https://1.gravatar.com/avatar/563e9f451c35ef6366456da7aa54361f?d=https%3A%2F%2Fidenticons.github.com%2F76ffdfa2cb2ab4571dfe2f9501f347b0.png&r=x&s=300"/>
                <div class="caption"><h4>Daniele Rosario</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="David Hurley" src="https://1.gravatar.com/avatar/d0bbae0d6cef78b9f698aeed6664c837?d=https%3A%2F%2Fidenticons.github.com%2F34ee53cf9e3cefac822495a3f66d0f79.png&r=x&s=300"/>
                <div class="caption"><h4>David Hurley</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="David Jardin" src="https://1.gravatar.com/avatar/505a48a65604d086ad202ed91d920a70?d=https%3A%2F%2Fidenticons.github.com%2F0935b7380fe42678b382f220223920a6.png&r=x&s=300"/>
                <div class="caption"><h4>David Jardin</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Diana Neculai" src="https://0.gravatar.com/avatar/3d58b8d738f5a23130f4df592dd6272a?d=https%3A%2F%2Fidenticons.github.com%2F1d891b2b876e8a98426c61e18aeda0e4.png&r=x&s=300"/>
                <div class="caption"><h4>Diana Neculai</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Don Gilbert" src="https://0.gravatar.com/avatar/e94fe56c4c91d9af369ca8d2aa704c7a?d=https%3A%2F%2Fidenticons.github.com%2F5455483576e59378d034ebdd33fb3aa7.png&r=x&s=300"/>
                <div class="caption"><h4>Don Gilbert</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Eirik Sletteberg" src="https://1.gravatar.com/avatar/ca1e5515a86cb3c8fbb98c0fb803f1a9?d=https%3A%2F%2Fidenticons.github.com%2F6f176038df2299394d49587f93b789a2.png&r=x&s=300"/>
                <div class="caption"><h4>Eirik Sletteberg</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Elijah Madden" src="https://2.gravatar.com/avatar/ba0e6d739e834c89625f71055305253a?d=https%3A%2F%2Fidenticons.github.com%2F42ada70d4f61c1dda184330e1cda4f0f.png&r=x&s=300"/>
                <div class="caption"><h4>Elijah Madden</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Florian Voutzinos" src="https://1.gravatar.com/avatar/6fde146dfb06ccb81a656f82e8982b2c?d=https%3A%2F%2Fidenticons.github.com%2F65a0c2166852ea6332c67717d1b93952.png&r=x&s=300"/>
                <div class="caption"><h4>Florian Voutzinos</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="George Wilson" src="https://2.gravatar.com/avatar/9b26ac7056cf9ef565a2ad16317ef394?d=https%3A%2F%2Fidenticons.github.com%2Fe238635f969ed914d08428229b694fd6.png&r=x&s=300"/>
                <div class="caption"><h4>George Wilson</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Ian MacLennan" src="https://0.gravatar.com/avatar/781b308e380cfb2f1bf8a38fd375c2a2?d=https%3A%2F%2Fidenticons.github.com%2F3f30472583c54fdb785c2c4112548988.png&r=x&s=300"/>
                <div class="caption"><h4>Ian MacLennan</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Javier Gomez" src="https://0.gravatar.com/avatar/45a59072dc06c1a243315a6df648300a?d=https%3A%2F%2Fidenticons.github.com%2F847428720ab1c86648ad2c8719fb4d7e.png&r=x&s=300"/>
                <div class="caption"><h4>Javier Gomez</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Louis Landry" src="https://0.gravatar.com/avatar/e5ba4d096207cdf1e2c1f3af913c3416?d=https%3A%2F%2Fidenticons.github.com%2Fd6cb10d1d55a6301f7b3fa639abee496.png&r=x&s=300"/>
                <div class="caption"><h4>Louis Landry</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Michael Babker" src="https://2.gravatar.com/avatar/a746e2ff69aafd175e65682cc3283fa8?d=https%3A%2F%2Fidenticons.github.com%2F15201312cd184a9c18a870dca4f98fd0.png&r=x&s=300"/>
                <div class="caption"><h4>Michael Babker</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Nikolai Plath" src="https://2.gravatar.com/avatar/d3986a2cc9c94cf78ea942956d1edf4c?d=https%3A%2F%2Fidenticons.github.com%2Fda072f3478f3b06a783d07f98e337889.png&r=x&s=300"/>
                <div class="caption"><h4>Nikolai Plath</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Nils Rückmann" src="https://1.gravatar.com/avatar/0f02f7551ef5d8af1cecbaf8dc05c727?d=https%3A%2F%2Fidenticons.github.com%2F3b578819d8433f2e19cd3df89ca37e18.png&r=x&s=300"/>
                <div class="caption"><h4>Nils Rückmann</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Pascal Borreli" src="https://2.gravatar.com/avatar/5c299a02c11ce797f20df385f560a16a?d=https%3A%2F%2Fidenticons.github.com%2Feedad495d6af63b2a3e13cfd104f252e.png&r=x&s=300"/>
                <div class="caption"><h4>Pascal Borreli</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Piotr Gasiorowski" src="https://2.gravatar.com/avatar/978d965162938ce8f9b3831410a38253?d=https%3A%2F%2Fidenticons.github.com%2F650cd092b45f920e48473929b095e463.png&r=x&s=300"/>
                <div class="caption"><h4>Piotr Gasiorowski</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Piotr" src="https://1.gravatar.com/avatar/0d69b07108803033f97b2c3bf80a45ad?d=https%3A%2F%2Fidenticons.github.com%2Fa2533c5d66a8721b52804448e29ea55a.png&r=x&s=300"/>
                <div class="caption"><h4>Piotr</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Simon Asika" src="https://2.gravatar.com/avatar/60ade929e3d8ffc6cebf8c584c7e478c?d=https%3A%2F%2Fidenticons.github.com%2F28117fb293c3c9c2e2ccb7ee7e6cd35d.png&r=x&s=300"/>
                <div class="caption"><h4>Simon Asika</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Rouven Weßling" src="https://0.gravatar.com/avatar/cab39d7e547423f2a0c72823eeec95b2?d=https%3A%2F%2Fidenticons.github.com%2Fc8e4e861b77baa9d8803312946c2cf65.png&r=x&s=300"/>
                <div class="caption"><h4>Rouven Weßling</h4></div>
            </div>
        </div>
    </div>

    <h2>Marketing</h2>

    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Ryan Boog" src="https://lh3.googleusercontent.com/-w7555gudPUY/UpUWCUClgXI/AAAAAAAAR2c/u-hJk-hL2cI/s320-no/DSC_0954.jpg"/>
                <div class="caption"><h4>Ryan Boog</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Parth Lawate" src="https://2.gravatar.com/avatar/fe6fa1b4682e3bfcc6978d0fa466ea90?d=https%3A%2F%2Fidenticons.github.com%2F5818e5286d5a59eedd6b150a1a7a2b9e.png&r=x&s=300"/>
                <div class="caption"><h4>Parth Lawate</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Jessica Dunbar" src="https://1.gravatar.com/avatar/fb04946b9f49e5cc6ff8e544115dd613?d=https%3A%2F%2Fidenticons.github.com%2Ff2f6df325f6369a0bbf99bed4446e8e4.png&r=x&s=300"/>
                <div class="caption"><h4>Jessica Dunbar</h4></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="thumbnail">
                <img alt="Duke Speer" src="https://2.gravatar.com/avatar/53c58eebf3b28892884f2cded3200d6e?d=https%3A%2F%2Fidenticons.github.com%2Fed7679f15bc90ac2bdd94574599a6be8.png&r=x&s=300"/>
                <div class="caption"><h4>Duke Speer</h4></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block bodyJavaScript %}
<script type="text/javascript">
    var getHeight = function (elem) {
        return Math.max(elem.scrollHeight, elem.offsetHeight, elem.clientHeight);
    };

    var height = 20;
    var elems = document.querySelectorAll('div.thumbnail div.caption');
    for (var i = 0; i < elems.length; i++) {
        var hTmp = getHeight(elems[i]);
        if (hTmp > height)
            height = hTmp;
    }

    for (var i = 0; i < elems.length; i++) {
        elems[i].style.height = height + 'px';
    }
</script>
{% endblock %}
