{% extends "index.twig" %}

{% block title %}Joomla! Framework Website API{% endblock %}

{% block metaDescription %}Explore the API offered by the Joomla! Framework's website for retrieving package metadata.{% endblock %}

{% block content %}
<section class="api container">
    <h1 class="text-center">Joomla! Framework Website API</h1>
    <p class="lead">The Framework website exposes a basic REST API for loading the package release metrics. The available API endpoints are documented below.</p>

    <h3>Endpoints</h3>
    <p>The base URL for all API endpoints is {{ url('api') }}.</p>

    <h4><span class="label label-info">GET</span> /v1/packages</h4>
    <p>Get the information for the latest release of all stable packages.</p>

    <h4><span class="label label-info">GET</span> /v1/packages/:package</h4>
    <p>Get the information for all releases of a package (this is the package name as registered on Packagist without the <code>joomla/</code> prefix, i.e. <code>application</code> for <code>joomla/application</code>.</p>
</section>
{% endblock %}
