{% extends "index.twig" %}

{% block title %}Joomla! Framework Team{% endblock %}

{% block metaDescription %}View a list of contributors to the Joomla! Framework.{% endblock %}

{% block content %}
<section class="team container">
    <h1 class="centered-title">Joomla! Framework Contributors</h1>

    <p class="lead">Development on the Joomla! Framework is steered by the <a href="https://volunteers.joomla.org/teams/framework-working-group">Framework Working Group</a>.</p>

    <div class="alert alert-warning">
        <h4>Page Temporarily Unavailable</h4>
        <div>Due to outstanding questions regarding the display of personal data as recognized by laws such as GDPR, the data of this page is temporarily unavailable.</div>
    </div>
</section>
{% endblock %}
