{% extends "index.twig" %}

{% block content %}
    <div class="alert alert-danger">
        <h4>{{ exception.code ? : "0" }} - {{ exception|get_class }}</h4>
        <p>{{ exception.message|stripJRoot }}</p>
    </div>
{% endblock %}
