{% set firstPart = uri.route|split("/")|first %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Joomla! Framework Status{% endblock %}</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Joomla! Framework Status</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li{{ "" == uri.route or "dashboard" == firstPart ? " class=\"active\"" : "" }}><a href="">Dashboard</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <hr />
            <div class="container">
                <p class="text-center">This <a href="https://github.com/mbabker/framework-status" target="_blank">status application</a> is powered by the <a href="http://framework.joomla.org">Joomla! Framework</a> and tools like <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> and <a href="http://phpunit.de/" target="_blank">PHPUnit</a>.</p>
                <p class="text-center">This application is managed by the Production Leadership Team.  If you are experiencing any issues, please <a href="https://github.com/mbabker/framework-status/issues/new?title=[FW Status Application]&amp;body=Please state the nature of your development emergency">report it to us</a>.</p>
            </div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
