{% macro footer_copyright() %}
    <a data-scroll href="#go" class="float-right">Back to top</a>
    <p>&copy; 2005 - {{ now|date('Y') }} Open Source Matters, Inc. All rights reserved.<br />
    The Joomla!&reg; name and symbol, Joomla! Framework&#8482 and symbol, The Joomla! Project&#8480 and Joomla! CMS&#8482 are all trademarks and service marks of Open Source Matters, Inc. in the United States and other countries.</p>
    <p>Help improve this site by submitting issues and pull requests on <a href="https://github.com/joomla/framework.joomla.org">GitHub</a>.</p>
    <div class="hosting text-center">
        <div class="host-img">
            <a href="https://www.rochen.com/joomla-hosting/" target="_blank" class="rochen">Rochen</a>
        </div>
        <div class="host-text">
            <a href="https://www.rochen.com/joomla-hosting/" target="_blank">Joomla! Hosting by Rochen</a>
        </div>
    </div>
{% endmacro %}
